#featured{ 
	width:400px; 
	padding-right:250px; 
	position:relative; 
	border:5px solid #ccc; 
	height:250px; 
	background:#fff;
	margin: 10px 0;
}
#featured ul.ui-tabs-nav{ 
	position:absolute; 
	top:0; left:400px; 
	list-style:none; 
	padding:0; margin:0; 
	width:250px; 
}
#featured ul.ui-tabs-nav li{ 
	padding:1px 0; padding-left:13px;  
	font-size:12px; 
	color:#666; 
}
#featured ul.ui-tabs-nav li img{ 
	float:left; margin:2px 5px; 
	background:#fff; 
	padding:2px; 
	border:1px solid #eee;
	width:50px;
	height:50px;
}
#featured ul.ui-tabs-nav li span{ 
	font-size:11px;  
	line-height:18px; 
}
#featured li.ui-tabs-nav-item a{ 
	display:block; 
	height:60px; 
	color:#333;  background:#fff; 
	line-height:20px;
}
#featured li.ui-tabs-nav-item a:hover { 
	background:#f2f2f2; 
}
#featured li.ui-tabs-active{   
	background:url('../images/selected-item.gif') top left no-repeat;    
}  
#featured ul.ui-tabs-nav li.ui-tabs-active a{   
	background:#ccc;   
}  
#featured .ui-tabs-panel{ 
	width:400px; height:250px; 
	background:#999; 
	position:relative;
}
#featured img.wp-post-image {
	width:400px;
	height:250px;
}

#featured .ui-tabs-panel .info{ 
	position:absolute; 
	top:180px; left:0; 
	height:70px; 
	width:400px;
	background: url('../images/transparent-bg.png'); 
}
#featured .info h2{ 
	font-size:18px;  
	color:#fff; padding:5px; margin:0;
	overflow:hidden; 
}
#featured .info p{ 
	margin:0 5px; 
	font-size:11px; 
	line-height:15px; color:#f0f0f0;
}
#featured .info a{ 
	text-decoration:none; 
	color:#fff; 
}
#featured .info a:hover{ 
	text-decoration:underline; 
}
#featured .ui-tabs-hide{ 
	display:none; 
}
